<header>
  <div class="header-wrapper">
    <div class="header-logo">
      <a href="/">{{ shop.name }}</a>
    </div>
    <nav>
      {% for link in linklists.main-menu.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": []
}
{% endschema %}